.title-accent {
  color: #FD8182;
}

.week-row {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.dot {
  height: 50px;
  width: 50px;
  background: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}

.past-week {
  background: #084D8F;
}

.current-week {
  background: #FD8182;
}

.future-week {
  background: #A1C9FD;
}